<div id="show-closest-button" class="btn btn-primary">Показать ближайший</div>
<%= form_with scope: :shop_picker, url: main_set_shop_path, class: 'mt-3' do |form| %>
  <div class="form-group">
    <%= form.label 'Магазины' %>
    <%= form.select :shop, options_from_collection_for_select(Shop.all, 'id', 
      'address', 
      session[:current_shop] ? session[:current_shop] : Shop.first.id.to_s), {}, 
      class: 'ml-3 custom-select w-50' %>
    <%= form.submit 'Показать', class: 'ml-3 btn btn-primary' %>
  </div>
<% end %>

<div class="row">
  <% @shop.prices.each do |price| %>
    <div class="col-sm-12 mt-3">
      <div class="card product-card">
        <div class="card-body">
          <h5 class="card-title"><%= price.product.name %></h5>
          <h6 class="card-subtitle mt-2 text-muted"><%= price.price %> Руб.</h6>
        </div>
      </div>
    </div>
  <% end %>
</div>