<!DOCTYPE html>
<html>
  <head>
    <title>Testproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= form_with scope: :location, url: main_locate_path, id: 'location-form', class: 'd-none' do |form| %>
      <%= form.hidden_field :reset %>
      <%= form.hidden_field :lat %>
      <%= form.hidden_field :long %>
    <% end %>

    <div class="container py-3">
      <%= yield %>
    </div>
  </body>
</html>
